@model CNET.MVC.Models.Composite.ServiceFormViewModel

@{
    // Setting the title for the page
    ViewData["Title"] = "Utfylt ServiceSkjema";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Setting the document metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utfylt serviceskjema</title>
    <!-- Linking the external stylesheet-->
    <link rel="stylesheet" href="/css/ServiceForm.css">
</head>

<body>
<!-- Container for the form -->
<div class="form-container">
    <h2>Utfylt serviceskjema for: @Model.Customer</h2>
    <hr class="divider">
    <form asp-controller="ServiceForm" asp-action="Index" method="post">

        <div class="form-row">
            <div class="form-col">
                <div class="form-group">
                    <label for="Customer" class="control-label">Kunde:</label>
                    <input for="Customer" class="form-control" type="text" value="@Model.Customer"/>
                    <span validation-for="Customer" class="text-danger"></span>
                </div>
            </div>

            <div class="form-col">
                <div class="form-group">
                    <label for="DateReceived" class="control-label">Mottatt dato:</label>
                    <input for="DateReceived" class="form-control" type="text" value="@Html.DisplayFor(model => Model.DateReceived)"/>
                    <span validation-for="DateReceived" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="Address" class="control-label">Adresse:</label>
                    <input for="Address" class="form-control" type="text" value="@Model.Address"/>
                    <span validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="Email" class="control-label">E-post:</label>
                    <input for="Email" class="form-control" type="text" value="@Model.Email"/>
                    <span validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="OrderNumber" class="control-label">Ordrenummer:</label>
                    <input for="OrderNumber" class="form-control" type="text" maxlength="12" value="@Model.OrderNumber"/>
                    <span validation-for="OrderNumber" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="Phone" class="control-label">Telefon:</label>
                    <input for="Phone" class="form-control" type="text" maxlength="8" value="@Model.Phone"/>
                    <span validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="ProductType" class="control-label">Produkttype:</label>
                    <input for="ProductType" class="form-control" type="text" value="@Model.ProductType"/>
                    <span validation-for="ProductType" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="Year" class="control-label">Årsmodell:</label>
                    <input for="Year" class="form-control" type="text" maxlength="4" value="@Model.Year"/>
                    <span validation-for="Year" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="Service" class="control-label">Service/rep:</label>
                    <input for="Service" class="form-control" type="text" value="@Model.Service"/>
                    <span validation-for="Service" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="Warranty" class="control-label">Garanti:</label>
                    <input for="Warranty" class="form-control" type="text" value="@Model.Warranty"/>
                    <span validation-for="Warranty" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row center-row">
                <div class="form-col">
                    <label for="SerialNumber" class="control-label">Serienummer:</label>
                    <input for="SerialNumber" class="form-control" type="text" maxlength="12" value="@Model.SerialNumber"/>
                    <span validation-for="SerialNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-col">
                <label for="Agreement" class="control-label">Hva er avtalt med kunden?</label>
                <textarea id="Agreement" class="form-control" rows="4">@Model.Agreement</textarea>
                <span validation-for="Agreement" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="RepairDescription" class="control-label">Reparasjonsbeskrivelse:</label>
            <textarea id="RepairDescription" class="form-control" rows="4">@Model.RepairDescription</textarea>
            <span validation-for="RepairDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="UsedParts" class="control-label">Medgåtte deler:</label>
            <textarea for="UsedParts" class="form-control" rows="4">@Model.UsedParts</textarea>
            <span validation-for="UsedParts" class="text-danger"></span >
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="WorkHours" class="control-label">Arbeidstimer:</label>
                    <input for="WorkHours" class="form-control" type="text" maxlength="2" value="@Model.WorkHours"/>
                    <span validation-for="WorkHours" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="CompletionDate" class="control-label">Ferdigstilt dato:</label>
                    <input for="CompletionDate" class="form-control" type="text" value="@Html.DisplayFor(model => Model.CompletionDate)"/>
                    <span validation-for="CompletionDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="ReplacedPartsReturned" class="control-label">Utskiftet deler returnert:</label>
                    <input for="ReplacedPartsReturned" class="form-control" type="text" value="@Model.ReplacedPartsReturned"/>
                    <span validation-for="ReplacedPartsReturned" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="ShippingMethod" class="control-label">Forsendelsesmåte:</label>
                    <input for="ShippingMethod" class="form-control" type="text" value="@Model.ShippingMethod"/>
                    <span validation-for="ShippingMethod" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="form-col">
                    <label for="CustomerSignature" class="control-label">Sign. kunde:</label>
                    <input for="CustomerSignature" class="form-control" type="text" value="@Model.CustomerSignature"/>
                    <span validation-for="CustomerSignature" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label for="RepairerSignature" class="control-label">Sign. reparatør:</label>
                    <input for="RepairerSignature" class="form-control" type="text" value="@Model.RepairerSignature"/>
                    <span validation-for="RepairerSignature" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!-- Return button -->
        <div class="row mt-4">
            <div class="col-md-6">
                <a asp-controller="ServiceOrder" asp-action="Index" class="btn btn-dark">Tilbake til oversikt</a>
            </div>
        </div>
    </form>

</div>

</body>
</html>