@model CNET.MVC.Models.Composite.CheckListViewModel

@{
    ViewData["Title"] = "Utfylt Sjekkliste";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utfylt Sjekkliste</title>
    <link rel="stylesheet" href="/css/Checklist.css">
</head>
<body>



<!-- body of the checklist -->
<h2>Sjekkliste</h2>

            @Html.ValidationSummary()
          @Html.AntiForgeryToken()
 <table>
      <tr>
        <th>Kategorier</th>
        <th>Sjekkpunkter</th>
        <th>OK</th>
        <th>Bør skiftes</th>
        <th>Defekt</th>
      </tr>
        <tr>
<td rowspan="8">Mekanisk</td>
        <td>Sjekk clutchcheck lameller for slitasje</td>
        <td>
           <input type="radio" id="ClutchCheck_OK" name="ClutchCheck" value="OK" 
                     @(Model.ClutchCheck == "OK" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_OK"></label>
          </td>
          <td>
              <input type="radio" id="ClutchCheck_bør_skiftes" name="ClutchCheck" value="bør_skiftes" 
                     @(Model.ClutchCheck == "bør_skiftes" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_bør_skiftes"></label>
          </td>
          <td>
              <input type="radio" id="ClutchCheck_Defekt" name="ClutchCheck" value="Defekt" 
                     @(Model.ClutchCheck == "Defekt" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_Defekt"></label>
              <input type="hidden" name="ClutchCheck" value="@Model.ClutchCheck" />
        </td>
    </tr>
    <tr>
        <td>Sjekk bremser. Bånd/pal</td>
        <td>
           <input type="radio" id="BrakeCheck_OK" name="BrakeCheck" value="OK" 
                     @(Model.ClutchCheck == "OK" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_OK"></label>
          </td>
          <td>
              <input type="radio" id="BrakeCheck_bør_skiftes" name="BrakeCheck" value="bør_skiftes" 
                     @(Model.BrakeCheck == "bør_skiftes" ? "checked='checked'" : "")  />
              <label for="BrakeCheck_bør_skiftes"></label>
          </td>
          <td>
              <input type="radio" id="BrakeCheck_Defekt" name="BrakeCheck" value="Defekt" 
                     @(Model.BrakeCheck == "Defekt" ? "checked='checked'" : "")  />
              <label for="BrakeCheck_Defekt"></label>
              <input type="hidden" name="BrakeCheck" value="@Model.BrakeCheck" />
        </td>
    </tr>
    <tr>
        <td>Sjekk lager for trommel</td>
        <td>
<input type="radio" id="DrumBearingCheck_OK" name="DrumBearingCheck" value="OK" 
                     @(Model.DrumBearingCheck == "OK" ? "checked='checked'" : "")  />
              <label for="DrumBearingCheck_OK"></label>
          </td>
          <td>
              <input type="radio" id="DrumBearingCheck_bør_skiftes" name="DrumBearingCheck" value="bør_skiftes" 
                     @(Model.DrumBearingCheck == "bør_skiftes" ? "checked='checked'" : "")  />
              <label for="DrumBearingCheck_bør_skiftes"></label>
          </td>
          <td>
              <input type="radio" id="DrumBearingCheck_Defekt" name="DrumBearingCheck" value="Defekt" 
                     @(Model.DrumBearingCheck == "Defekt" ? "checked='checked'" : "")  />
              <label for="DrumBearingCheck_Defekt"></label>
              <input type="hidden" name="DrumBearingCheck" value="@Model.DrumBearingCheck" />
        </td>
    </tr>
    <tr>
        <td>Sjekk PTO og opplagring</td>
       <td>
           <input type="radio" id="PTOCheck_OK" name="PTOCheck" value="OK" 
                  @(Model.PTOCheck == "OK" ? "checked='checked'" : "") readonly="readonly" />
           <label for="PTOCheck_OK"></label>
           <span validation-for="PTOCheck_OK" class="PTOCheck"></span>
       </td>
       <td>
           <input type="radio" id="PTOCheck_bør_skiftes" name="PTOCheck" value="bør_skiftes" 
                  @(Model.PTOCheck == "bør_skiftes" ? "checked='checked'" : "") readonly="readonly" />
           <label for="PTOCheck_bør_skiftes"></label>
           <span validation-for="PTOCheck_bør_skiftes" class="PTOCheck"></span>
       </td>
       <td>
           <input type="radio" id="PTOCheck_Defekt" name="PTOCheck" value="Defekt"
                  @(Model.PTOCheck == "Defekt" ? "checked='checked'" : "") readonly="readonly" />
           <label for="PTOCheck_Defekt"></label>
           <span validation-for="PTOCheck_Defekt" class="PTOCheck"></span>
           <input type="hidden" name="PTOCheck" value="@Model.PTOCheck" />
       </td>
    </tr>
        <tr>
            <td>Sjekk kjedestrammer</td>
      <td>
          <input type="radio" id="ChainTensionCheck_OK" name="ChainTensionCheck" value="OK" 
                 @(Model.ChainTensionCheck == "OK" ? "checked='checked'" : "") />
          <label for="ChainTensionCheck_OK"></label>
      </td>
      <td>
          <input type="radio" id="ChainTensionCheck_bør_skiftes" name="ChainTensionCheck" value="bør_skiftes" 
                 @(Model.ChainTensionCheck == "bør_skiftes" ? "checked='checked'" : "") />
          <label for="ChainTensionCheck_bør_skiftes"></label>
      </td>
      <td>
          <input type="radio" id="ChainTensionCheck_Defekt" name="ChainTensionCheck" value="Defekt"
                 @(Model.ChainTensionCheck == "Defekt" ? "checked='checked'" : "") />
          <label for="ChainTensionCheck_Defekt"></label>
          <input type="hidden" name="ChainTensionCheck" value="@Model.ChainTensionCheck" />
      </td>
        </tr>
 <tr>
     <td>Sjekk wire</td>
     <td>
         <input type="radio" id="WireCheck_OK" name="WireCheck" value="OK"
                @(Model.WireCheck == "OK" ? "checked='checked'" : "")/>
         <label for="WireCheck_OK"></label>
     </td>
     <td>
         <input type="radio" id="WireCheck_bør_skiftes" name="WireCheck" value="bør_skiftes"
                @(Model.WireCheck == "bør_skiftes" ? "checked='checked'" : "")/>
         <label for="WireCheck_bør_skiftes"></label>
     </td>
     <td>
         <input type="radio" id="WireCheck_Defekt" name="WireCheck" value="Defekt"
                @(Model.WireCheck == "Defekt" ? "checked='checked'" : "")/>
         <label for="WireCheck_Defekt"></label>
         <input type="hidden" name="WireCheck" value="@Model.WireCheck"/>
     </td>
 </tr>
        <tr>
            <td>Sjekk pinion lager</td>
    <td>
        <input type="radio" id="PinionBearingCheck_OK" name="PinionBearingCheck" value="OK" 
               @(Model.PinionBearingCheck == "OK" ? "checked='checked'" : "") />
        <label for="PinionBearingCheck_OK"></label>
    </td>
    <td>
        <input type="radio" id="PinionBearingCheck_bør_skiftes" name="PinionBearingCheck" value="bør_skiftes" 
               @(Model.PinionBearingCheck == "bør_skiftes" ? "checked='checked'" : "") />
        <label for="PinionBearingCheck_bør_skiftes"></label>
    </td>
    <td>
        <input type="radio" id="PinionBearingCheck_Defekt" name="PinionBearingCheck" value="Defekt"
               @(Model.PinionBearingCheck == "Defekt" ? "checked='checked'" : "") />
        <label for="PinionBearingCheck_Defekt"></label>
        <input type="hidden" name="PinionBearingCheck" value="@Model.PinionBearingCheck" />
    </td>
        </tr>
        <tr>
            <td>Sjekk kile på kjedehjul</td>
<td>
        <input type="radio" id="ChainWheelKeyCheck_OK" name="ChainWheelKeyCheck" value="OK" 
               @(Model.ChainWheelKeyCheck == "OK" ? "checked='checked'" : "") />
        <label for="ChainWheelKeyCheck_OK"></label>
    </td>
    <td>
        <input type="radio" id="ChainWheelKeyCheck_bør_skiftes" name="ChainWheelKeyCheck" value="bør_skiftes" 
               @(Model.ChainWheelKeyCheck == "bør_skiftes" ? "checked='checked'" : "") />
        <label for="ChainWheelKeyCheck_bør_skiftes"></label>
    </td>
    <td>
        <input type="radio" id="ChainWheelKeyCheck_Defekt" name="ChainWheelKeyCheck" value="Defekt"
               @(Model.ChainWheelKeyCheck == "Defekt" ? "checked='checked'" : "") />
        <label for="ChainWheelKeyCheck_Defekt"></label>
        <input type="hidden" name="ChainWheelKeyCheck" value="@Model.ChainWheelKeyCheck" />
    </td>
        </tr>
        
        <tr>
            <td rowspan="7">Hydraulisk</td>
            <td>Sjekk hydraulikk sylinder for lekkasje</td>
             <td>
                   <input type="radio" id="HydraulicCylinderCheck_OK" name="HydraulicCylinderCheck" value="OK" 
                          @(Model.HydraulicCylinderCheck == "OK" ? "checked='checked'" : "") />
                   <label for="HydraulicCylinderCheck_OK"></label>
               </td>
               <td>
                   <input type="radio" id="HydraulicCylinderCheck_bør_skiftes" name="HydraulicCylinderCheck" value="bør_skiftes" 
                          @(Model.HydraulicCylinderCheck == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="HydraulicCylinderCheck_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="HydraulicCylinderCheck_Defekt" name="HydraulicCylinderCheck" value="Defekt"
                          @(Model.HydraulicCylinderCheck == "Defekt" ? "checked='checked'" : "") />
                   <label for="HydraulicCylinderCheck_Defekt"></label>
                   <input type="hidden" name="HydraulicCylinderCheck" value="@Model.HydraulicCylinderCheck" />
               </td>
        </tr>
        <tr>
            <td>Sjekk slanger for skader og lekkasje</td>
            <td>
                    <input type="radio" id="HoseCheck_OK" name="HoseCheck" value="OK" 
                           @(Model.HoseCheck == "OK" ? "checked='checked'" : "") />
                    <label for="HoseCheck_OK"></label>
                </td>
                <td>
                    <input type="radio" id="HoseCheck_bør_skiftes" name="HoseCheck" value="bør_skiftes" 
                           @(Model.HoseCheck == "bør_skiftes" ? "checked='checked'" : "") />
                    <label for="HoseCheck_bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="HoseCheck_Defekt" name="HoseCheck" value="Defekt"
                           @(Model.HoseCheck == "Defekt" ? "checked='checked'" : "") />
                    <label for="HoseCheck_Defekt"></label>
                    <input type="hidden" name="HoseCheck" value="@Model.HoseCheck" />
                </td>
        </tr>
        <tr>
            <td>Test hydraulikkblokk i testbenk</td>
             <td>
                    <input type="radio" id="HydraulicBlockTest_OK" name="HydraulicBlockTest" value="OK" 
                           @(Model.HydraulicBlockTest == "OK" ? "checked='checked'" : "") />
                    <label for="HydraulicBlockTest_OK"></label>
                </td>
                <td>
                    <input type="radio" id="HydraulicBlockTest_bør_skiftes" name="HydraulicBlockTest" value="bør_skiftes" 
                           @(Model.HydraulicBlockTest == "bør_skiftes" ? "checked='checked'" : "") />
                    <label for="HydraulicBlockTest_bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="HydraulicBlockTest_Defekt" name="HydraulicBlockTest" value="Defekt"
                           @(Model.HydraulicBlockTest == "Defekt" ? "checked='checked'" : "") />
                    <label for="HydraulicBlockTest_Defekt"></label>
                    <input type="hidden" name="HydraulicBlockTest" value="@Model.HydraulicBlockTest" />
                </td>
            </tr>
            
            <tr>
                <td>Skift olje i tank</td>
                <td>
                    <input type="radio" id="TankOilChange_OK" name="TankOilChange" value="OK" 
                           @(Model.TankOilChange == "OK" ? "checked='checked'" : "") />
                    <label for="TankOilChange_OK"></label>
                </td>
                <td>
                    <input type="radio" id="TankOilChange_bør_skiftes" name="TankOilChange" value="bør_skiftes" 
                           @(Model.TankOilChange == "bør_skiftes" ? "checked='checked'" : "") />
                    <label for="TankOilChange_bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="TankOilChange_Defekt" name="TankOilChange" value="Defekt"
                           @(Model.TankOilChange == "Defekt" ? "checked='checked'" : "") />
                    <label for="TankOilChange_Defekt"></label>
                    <input type="hidden" name="TankOilChange" value="@Model.TankOilChange" />
                </td>
            </tr>
            
            <tr>
                <td>Skift olje på gir boks</td>
                <td>
                    <input type="radio" id="GearboxOilChange_OK" name="GearboxOilChange" value="OK" 
                           @(Model.GearboxOilChange == "OK" ? "checked='checked'" : "") />
                    <label for="GearboxOilChange_OK"></label>
                </td>
                <td>
                    <input type="radio" id="GearboxOilChange_bør_skiftes" name="GearboxOilChange" value="bør_skiftes" 
                           @(Model.GearboxOilChange == "bør_skiftes" ? "checked='checked'" : "") />
                    <label for="GearboxOilChange_bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="GearboxOilChange_Defekt" name="GearboxOilChange" value="Defekt"
                           @(Model.GearboxOilChange == "Defekt" ? "checked='checked'" : "") />
                    <label for="GearboxOilChange_Defekt"></label>
                    <input type="hidden" name="GearboxOilChange" value="@Model.GearboxOilChange" />
                </td>
        </tr>
        <tr>
            <td>Sjekk ringsylinder åpne og skift tetninger</td>
            <td>
                    <input type="radio" id="RingCylinderSealsCheck_OK" name="RingCylinderSealsCheck" value="OK" 
                           @(Model.RingCylinderSealsCheck == "OK" ? "checked='checked'" : "") />
                    <label for="RingCylinderSealsCheck_OK"></label>
                </td>
                <td>
                    <input type="radio" id="RingCylinderSealsCheck_bør_skiftes" name="RingCylinderSealsCheck" value="bør_skiftes" 
                           @(Model.RingCylinderSealsCheck == "bør_skiftes" ? "checked='checked'" : "") />
                    <label for="RingCylinderSealsCheck_bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="RingCylinderSealsCheck_Defekt" name="RingCylinderSealsCheck" value="Defekt"
                           @(Model.RingCylinderSealsCheck == "Defekt" ? "checked='checked'" : "") />
                    <label for="RingCylinderSealsCheck_Defekt"></label>
                    <input type="hidden" name="RingCylinderSealsCheck" value="@Model.RingCylinderSealsCheck" />
                </td>
            </tr>
            
            <tr>
                <td>Sjekk bremse sylinder åpne og skift tetninger</td>
                <td>
                    <input type="radio" id="BrakeCylinderSealsCheck_OK" name="BrakeCylinderSealsCheck" value="OK" 
                           @(Model.BrakeCylinderSealsCheck == "OK" ? "checked='checked'" : "") />
                    <label for="BrakeCylinderSealsCheck_OK"></label>
                </td>
                <td>
                    <input type="radio" id="BrakeCylinderSealsCheck_bør_skiftes" name="BrakeCylinderSealsCheck" value="bør_skiftes" 
                           @(Model.BrakeCylinderSealsCheck == "bør_skiftes" ? "checked='checked'" : "") />
                    <label for="BrakeCylinderSealsCheck_bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="BrakeCylinderSealsCheck_Defekt" name="BrakeCylinderSealsCheck" value="Defekt"
                           @(Model.BrakeCylinderSealsCheck == "Defekt" ? "checked='checked'" : "") />
                    <label for="BrakeCylinderSealsCheck_Defekt"></label>
                    <input type="hidden" name="BrakeCylinderSealsCheck" value="@Model.BrakeCylinderSealsCheck" />
                </td>
            </tr>
            
 <tr>
      <td rowspan="3">Elektro</td>
     <td>Sjekk ledningsnett på vinsj</td>
     <td>
         <input type="radio" id="WinchWiringCheck_OK" name="WinchWiringCheck" value="OK"
                @(Model.WinchWiringCheck == "OK" ? "checked='checked'" : "")/>
         <label for="WinchWiringCheck_OK"></label>
     </td>
     <td>
         <input type="radio" id="WinchWiringCheck_bør_skiftes" name="WinchWiringCheck" value="bør_skiftes"
                @(Model.WinchWiringCheck == "bør_skiftes" ? "checked='checked'" : "")/>
         <label for="WinchWiringCheck_bør_skiftes"></label>
     </td>
     <td>
         <input type="radio" id="WinchWiringCheck_Defekt" name="WinchWiringCheck" value="Defekt"
                @(Model.WinchWiringCheck == "Defekt" ? "checked='checked'" : "")/>
         <label for="WinchWiringCheck_Defekt"></label>
         <input type="hidden" name="WinchWiringCheck" value="@Model.WinchWiringCheck"/>
     </td>


 </tr>
        <tr>
            <td>Sjekk og test radio</td>
            <td>
                   <input type="radio" id="RadioCheck_OK" name="RadioCheck" value="OK" 
                          @(Model.RadioCheck == "OK" ? "checked='checked'" : "") />
                   <label for="RadioCheck_OK"></label>
               </td>
               <td>
                   <input type="radio" id="RadioCheck_bør_skiftes" name="RadioCheck" value="bør_skiftes" 
                          @(Model.RadioCheck == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="RadioCheck_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="RadioCheck_Defekt" name="RadioCheck" value="Defekt"
                          @(Model.RadioCheck == "Defekt" ? "checked='checked'" : "") />
                   <label for="RadioCheck_Defekt"></label>
                   <input type="hidden" name="RadioCheck" value="@Model.RadioCheck" />
               </td>
           </tr>
           
           <!-- Sjekk og test knappekasse -->
           <tr>
               <td>Sjekk og test knappekasse</td>
               <td>
                   <input type="radio" id="ButtonBoxCheck_OK" name="ButtonBoxCheck" value="OK" 
                          @(Model.ButtonBoxCheck == "OK" ? "checked='checked'" : "") />
                   <label for="ButtonBoxCheck_OK"></label>
               </td>
               <td>
                   <input type="radio" id="ButtonBoxCheck_bør_skiftes" name="ButtonBoxCheck" value="bør_skiftes" 
                          @(Model.ButtonBoxCheck == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="ButtonBoxCheck_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="ButtonBoxCheck_Defekt" name="ButtonBoxCheck" value="Defekt"
                          @(Model.ButtonBoxCheck == "Defekt" ? "checked='checked'" : "") />
                   <label for="ButtonBoxCheck_Defekt"></label>
                   <input type="hidden" name="ButtonBoxCheck" value="@Model.ButtonBoxCheck" />
               </td>
           </tr>
           
           <!-- Trykk settinger -->
           <tr>
               <td>Trykk settinger</td>
               <td>xx- bar</td> <!-- Spør nøsted om, og endre -->
               <td>
                   <input type="radio" id="PressureSettings_OK" name="PressureSettings" value="OK" 
                          @(Model.PressureSettings == "OK" ? "checked='checked'" : "") />
                   <label for="PressureSettings_OK"></label>
               </td>
               <td>
                   <input type="radio" id="PressureSettings_bør_skiftes" name="PressureSettings" value="bør_skiftes" 
                          @(Model.PressureSettings == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="PressureSettings_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="PressureSettings_Defekt" name="PressureSettings" value="Defekt"
                          @(Model.PressureSettings == "Defekt" ? "checked='checked'" : "") />
                   <label for="PressureSettings_Defekt"></label>
                   <input type="hidden" name="PressureSettings" value="@Model.PressureSettings" />
               </td>
        </tr>
        <tr>
            <td rowspan="3">Funksjonstest</td>
            <td>Test vinsj og kjør alle funksjoner</td>
           <td>
                   <input type="radio" id="FunctionTest_OK" name="FunctionTest" value="OK" 
                          @(Model.FunctionTest == "OK" ? "checked='checked'" : "") />
                   <label for="FunctionTest_OK"></label>
               </td>
               <td>
                   <input type="radio" id="FunctionTest_bør_skiftes" name="FunctionTest" value="bør_skiftes" 
                          @(Model.FunctionTest == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="FunctionTest_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="FunctionTest_Defekt" name="FunctionTest" value="Defekt"
                          @(Model.FunctionTest == "Defekt" ? "checked='checked'" : "") />
                   <label for="FunctionTest_Defekt"></label>
                   <input type="hidden" name="FunctionTest" value="@Model.FunctionTest" />
               </td>
           </tr>
           
           <!-- TractionForceKN -->
           <tr>
               <td>Trekkraft KN</td>
               <td>
                   <input type="radio" id="TractionForceKN_OK" name="TractionForceKN" value="OK" 
                          @(Model.TractionForceKN == "OK" ? "checked='checked'" : "") />
                   <label for="TractionForceKN_OK"></label>
               </td>
               <td>
                   <input type="radio" id="TractionForceKN_bør_skiftes" name="TractionForceKN" value="bør_skiftes" 
                          @(Model.TractionForceKN == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="TractionForceKN_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="TractionForceKN_Defekt" name="TractionForceKN" value="Defekt"
                          @(Model.TractionForceKN == "Defekt" ? "checked='checked'" : "") />
                   <label for="TractionForceKN_Defekt"></label>
                   <input type="hidden" name="TractionForceKN" value="@Model.TractionForceKN" />
               </td>
           </tr>
           
           <!-- BrakeForceKN -->
           <tr>
               <td>Bremsekraft KN</td>
               <td>
                   <input type="radio" id="BrakeForceKN_OK" name="BrakeForceKN" value="OK" 
                          @(Model.BrakeForceKN == "OK" ? "checked='checked'" : "") />
                   <label for="BrakeForceKN_OK"></label>
               </td>
               <td>
                   <input type="radio" id="BrakeForceKN_bør_skiftes" name="BrakeForceKN" value="bør_skiftes" 
                          @(Model.BrakeForceKN == "bør_skiftes" ? "checked='checked'" : "") />
                   <label for="BrakeForceKN_bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="BrakeForceKN_Defekt" name="BrakeForceKN" value="Defekt"
                          @(Model.BrakeForceKN == "Defekt" ? "checked='checked'" : "") />
                   <label for="BrakeForceKN_Defekt"></label>
                   <input type="hidden" name="BrakeForceKN" value="@Model.BrakeForceKN" />
               </td>
        </tr>
    </table>





<br>
<label for="freeform">Kommentar:</label>
<input for="Address" class="form-control" type="text" value="@Model.Freeform"/>
<span validation-for="Address" class="text-danger"></span>
<br>
<br>
<br>
<label for="Sign">Signatur:</label>
<input for="Sign" class="form-control" type="text" value="@Model.Sign"/>
<span validation-for="Sign" class="text-danger"></span>
<br>
<br>
<label for="CompletionDate">Date:</label>
<input for="CompletionDate" class="form-control" type="text" value="@Html.DisplayFor(model => Model.CompletionDate)" readonly="readonly"/>
<span validation-for="CompletionDate" class="text-danger"></span>
<br>
<!-- Return button -->
<br>
<a asp-controller="ServiceOrder" asp-action="Index" class="btn btn-dark">Tilbake til oversikt</a>

</body>
</html>