@using CNET.MVC.Models.Users
@model UserViewModel

<h3>Rediger registrerte brukere</h3>

    <form asp-action="save" asp-controller="Users" method="post">
        <ul>
            <li>
                <label for="Name">Navn</label>
                <input type="text" name="Name" value="@Model.Name" />
            </li>
         
            <li>
                <label for="Email">E-post</label>
                <input type="email" name="Email" value="@Model.Email" />
            </li>
        <li>
            <label for="Role">Sett som administrator</label>
                <input asp-for="@Model.IsAdmin"/>
        </li>
            <li>
                <input class="btn btn-primary" type="submit" value="Lagre" />
            </li>
        </ul>
    </form>

<table class="table">
    <tr>
        <th>Navn</th>
        <th>E-post</th>
        <td></td>
        <td></td>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="delete" asp-controller="users" method="post">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input class="btn btn-danger" type="submit" value="Slett" />
                </form>
            </td>
            <td>
                <form asp-action="index" asp-controller="users" method="get">
                    <input type="hidden" name="Email" value="@user.Email" />
                    <input class="btn btn-primary" type="submit" value="Endre" />
                </form>
            </td>
        </tr>
    }
</table>
